.footer {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  padding: 0 93px;
  line-height: 40px;
  background-color: #414452;
  z-index: 1;
  color: #838793;
}

.icon {
  margin: 8px 3px;
}
