.breadcrumbs {
  height: 50px;
  line-height: 50px;
  padding-left: 95px;
  background-color: #fff;
}

.active {
  color: dodgerblue;
  text-transform: capitalize;

  :hover {
    color: #3f51b5;
    cursor: pointer;
  }
}
