.item {
  height: 120px;
  min-width: 600px;
  margin-bottom: 20px;
  cursor: pointer;
}

.topRatedItem {
  background-color: #e9f7f7;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 10px 0;
}

.title {
  span {
    vertical-align: 3px;
  }

  .topRatedIcon {
    margin-left: 3px;
    color: #f8cf09;
  }
}

.dateBlock {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  font-weight: 200;
  font-size: 12px;
  color: #c3c7d5;
  opacity: 0.8;

  div {
    margin-left: 10px;
  }

  .icon {
    height: 14px;
    width: 12px;
    font-size: 14px;
    margin-right: 5px;
  }

  span {
    vertical-align: 3px;
  }
}

.content {
  display: flex;
  justify-content: space-between;

  button {
    margin-left: 5px;
  }
}

.buttonsBlock {
  min-width: 194px;
}

.description {
  max-height: 64px;
  overflow: hidden;
}
