<mat-card class="item">
  <mat-card-title class="title">
    <div>{{ item.title }}</div>
    <div class="dateBlock">
      <div>
        <mat-icon class="icon">query_builder</mat-icon>
        <span>{{ item.duration }}</span>
      </div>
      <div>
        <mat-icon class="icon">calendar_today</mat-icon>
        <span>{{ item.creation_date }}</span>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content class="content">
    <div class="description">
      <span>{{ item.description }}</span>
    </div>
    <div class="buttonsBlock">
      <button (click)="edit()" mat-raised-button color="primary">
        <mat-icon class="icon">edit</mat-icon>
        Edit
      </button>
      <button (click)="delete()" mat-raised-button color="primary">
        <mat-icon class="icon">delete</mat-icon>
        Delete
      </button>
    </div>
  </mat-card-content>
</mat-card>
