<mat-card
  class="item"
  [ngClass]="{ topRatedItem: item.topRated }"
  [appHighlightCourse]="item.creation_date"
>
  <mat-card-title class="header">
    <div class="title">
      <span>{{ item.title | uppercase }}</span>
      <mat-icon *ngIf="item.topRated" class="topRatedIcon">
        star_border
      </mat-icon>
    </div>
    <div class="dateBlock">
      <div>
        <mat-icon class="icon">query_builder</mat-icon>
        <span>{{ item.duration | duration }}</span>
      </div>
      <div>
        <mat-icon class="icon">calendar_today</mat-icon>
        <span>{{ item.creation_date | date: "d MMM, y" }}</span>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content class="content">
    <div class="description">
      <span>{{ item.description }}</span>
    </div>
    <div class="buttonsBlock">
      <button (click)="edit()" mat-raised-button color="primary">
        <mat-icon class="icon">edit</mat-icon>
        Edit
      </button>
      <button (click)="delete()" mat-raised-button color="primary">
        <mat-icon class="icon">delete</mat-icon>
        Delete
      </button>
    </div>
  </mat-card-content>
</mat-card>
