.container {
  min-height: calc(100vh - 190px);
}

.formContainer {
  min-height: 246px;
  width: 420px;
  margin: 100px auto;
}

.input {
  min-width: 420px;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 10px;

  a {
    padding-top: 8px;
  }
}

.error {
  color: #e91e63;
}
