<div class="container">
  <form #f="ngForm" (ngSubmit)="onFormSubmit(f)">
    <mat-card class="formContainer">
      <mat-card-title>Login</mat-card-title>
      <span *ngIf="hasError" class="error">Incorrect e-mail or password</span>
      <div>
        <mat-form-field class="input" appearance="fill">
          <mat-label>E-mail:</mat-label>
          <input
            name="email"
            [(ngModel)]="email"
            matInput
            placeholder="Enter e-mail"
            class="input"
            type="email"
            required
          />
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
          <mat-label>Password:</mat-label>
          <input
            name="password"
            [(ngModel)]="password"
            type="password"
            matInput
            placeholder="Enter password"
            class="input"
            required
            appPasswordValidator
          />
        </mat-form-field>
      </div>
      <mat-card-actions class="actions">
        <a href="https://www.google.com/" target="_blank">Forgot password?</a>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="loginBtn"
        >
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
